public net.minecraft.world.item.context.UseOnContext m_43718_()Lnet/minecraft/world/phys/BlockHitResult; # getHitResult
public net.minecraft.core.Vec3i m_142451_(I)Lnet/minecraft/core/Vec3i; # setX
public net.minecraft.core.Vec3i m_142448_(I)Lnet/minecraft/core/Vec3i; # setY
public net.minecraft.core.Vec3i m_142443_(I)Lnet/minecraft/core/Vec3i; # setZ

public net.minecraft.network.protocol.game.ClientboundBlockEntityDataPacket <init>(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/nbt/CompoundTag;)V # <init>
public net.minecraft.world.level.BaseSpawner f_45444_ # nextSpawnData
public net.minecraft.world.level.block.WeightedPressurePlateBlock f_58199_ # maxWeight
public net.minecraft.world.level.block.PressurePlateBlock f_55250_ # sensitivity
public net.minecraft.world.level.block.FireBlock m_53437_(Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;I)Lnet/minecraft/world/level/block/state/BlockState; # getStateWithAge
public net.minecraft.world.item.Item m_41435_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/level/ClipContext$Fluid;)Lnet/minecraft/world/phys/BlockHitResult; # getPlayerPOVHitResult
public net.minecraft.world.level.block.DoublePlantBlock m_52903_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/entity/player/Player;)V # preventCreativeDropFromBottomPart
public net.minecraft.world.entity.item.FallingBlockEntity <init>(Lnet/minecraft/world/level/Level;DDDLnet/minecraft/world/level/block/state/BlockState;)V
public net.minecraft.world.inventory.CraftingMenu f_39350_ # access
public net.minecraft.world.entity.item.FallingBlockEntity <init>(Lnet/minecraft/world/level/Level;DDDLnet/minecraft/world/level/block/state/BlockState;)V
public-f net.minecraft.client.renderer.block.model.BakedQuad f_111293_ # tintIndex

public net.minecraft.client.sounds.SoundManager f_120349_ # soundEngine
public net.minecraft.client.sounds.SoundEngine f_120227_ # instanceBySource

public-f net.minecraft.world.inventory.Slot f_40220_ # x
public-f net.minecraft.world.inventory.Slot f_40221_ # y
public-f net.minecraft.client.renderer.MultiBufferSource$BufferSource f_109904_ # builder
public-f net.minecraft.client.renderer.MultiBufferSource$BufferSource f_109905_ # fixedBuffers

public net.minecraft.data.recipes.SimpleCookingRecipeBuilder m_247292_(Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/world/item/crafting/CookingBookCategory; # determineSmeltingRecipeCategory
public net.minecraft.data.recipes.SimpleCookingRecipeBuilder m_246122_(Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/world/item/crafting/CookingBookCategory; # determineBlastingRecipeCategory
public net.minecraft.data.recipes.SimpleCookingRecipeBuilder m_246784_(Lnet/minecraft/world/item/crafting/RecipeSerializer;Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/world/item/crafting/CookingBookCategory; # determineRecipeCategory

# ATs for recipe validation during datagen
public net.minecraft.world.item.crafting.Ingredient f_43902_ # values

# For passing to our wrapped recipe
public-f net.minecraft.world.item.crafting.ShapedRecipe f_44149_ # result
