public net.minecraft.world.item.context.UseOnContext getHitResult()Lnet/minecraft/world/phys/BlockHitResult;

# For painted falling sand
protected net.minecraft.world.entity.item.FallingBlockEntity <init>(Lnet/minecraft/world/level/Level;DDDLnet/minecraft/world/level/block/state/BlockState;)V

# Used by broken spawner loot modifier.
public net.minecraft.world.level.BaseSpawner nextSpawnData

# Used for custom pressure plate weight copying
public net.minecraft.world.level.block.WeightedPressurePlateBlock maxWeight

# Used by painted crafting table
protected net.minecraft.world.inventory.CraftingMenu access

public net.minecraft.client.sounds.SoundManager soundEngine
public net.minecraft.client.sounds.SoundEngine instanceBySource

# Used by the IOConfigOverlay.
public-f net.minecraft.client.renderer.MultiBufferSource$BufferSource sharedBuffer
public-f net.minecraft.client.renderer.MultiBufferSource$BufferSource fixedBuffers

# Used by TravelParticleHandler
public net.minecraft.client.particle.Particle gravity

# Used by ShapedEntityStorageRecipeBuilder
public net.minecraft.data.recipes.ShapedRecipeBuilder <init>(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/data/recipes/RecipeCategory;Lnet/minecraft/world/level/ItemLike;I)V

# Used by RecipeManagerMixin
public net.minecraft.world.item.crafting.SingleItemRecipe result()Lnet/minecraft/world/item/ItemStack;

# Used by SoulBindingRecipeProvider for infested block recipes
public net.minecraft.world.level.block.InfestedBlock BLOCK_BY_HOST_BLOCK
