name: Code Style Scan
on: [pull_request]
jobs:
  checkstyle:
    name: runner / checkstyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dbelyaev/action-checkstyle@v0.9.5
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          checkstyle_config: config/checkstyle/checkstyle.xml
